body {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 10px;
  background: rgb(51, 51, 51);
  color: white;
  font-weight: bold;
}

.app {
  text-align: center;
  margin: auto;
}

.menus {
  display: inline-block;
  text-align: left;
  max-width: 900px;
}

.daily-menu {
  h1 {
    font-size: 24px;
  }
  .dish {
    font-size: 16px;
    div {
      display: inline-block;
    }
    .price {
      float: right;
      font-size: 90%;
    }
  }
}